.button-primary,
.button-primary-s,
.button-normal,
.button-normal-s,
.button-link,
.button-link-s,
.button-theme,
.button-theme-s {
  *overflow: visible;
  margin: 0;
  line-height: 1.5;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  /* Firefox: Get rid of the inner focus border */

  /* Firefox: Add a border around a focused button */

}
.button-primary:hover,
.button-primary-s:hover,
.button-normal:hover,
.button-normal-s:hover,
.button-link:hover,
.button-link-s:hover,
.button-theme:hover,
.button-theme-s:hover,
.button-primary-hover,
.button-primary-s-hover,
.button-normal-hover,
.button-normal-s-hover,
.button-link-hover,
.button-link-s-hover,
.button-theme-hover,
.button-theme-s-hover {
  text-decoration: none;
}
.button-primary-disabled,
.button-primary-s-disabled,
.button-normal-disabled,
.button-normal-s-disabled,
.button-link-disabled,
.button-link-s-disabled,
.button-theme-disabled,
.button-theme-s-disabled,
.button-primary-disabled:hover,
.button-primary-s-disabled:hover,
.button-normal-disabled:hover,
.button-normal-s-disabled:hover,
.button-link-disabled:hover,
.button-link-s-disabled:hover,
.button-theme-disabled:hover,
.button-theme-s-disabled:hover {
  cursor: not-allowed;
}
.button-primary::-moz-focus-inner,
.button-primary-s::-moz-focus-inner,
.button-normal::-moz-focus-inner,
.button-normal-s::-moz-focus-inner,
.button-link::-moz-focus-inner,
.button-link-s::-moz-focus-inner,
.button-theme::-moz-focus-inner,
.button-theme-s::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.button-primary:-moz-focusring,
.button-primary-s:-moz-focusring,
.button-normal:-moz-focusring,
.button-normal-s:-moz-focusring,
.button-link:-moz-focusring,
.button-link-s:-moz-focusring,
.button-theme:-moz-focusring,
.button-theme-s:-moz-focusring {
  outline: thin dotted;
}
.button-primary,
.button-normal,
.button-link,
.button-theme {
  font-size: 16px;
  padding: 13px 56px;
}
button.button-primary,
button.button-normal,
button.button-link,
button.button-theme {
  *padding: 13px - 2 56px - 1 13px - 3;
}
.button-primary-s,
.button-normal-s,
.button-link-s,
.button-theme-s {
  font-size: 16px;
  padding: 6px 37px;
}
button.button-primary-s,
button.button-normal-s,
button.button-link-s,
button.button-theme-s {
  *padding: 6px - 2 37px - 1 6px - 3;
}
.button-primary,
.button-primary-s {
  color: #ffffff;
  /*text-shadow: 0 1px 0 contrast(@color, mix(@bg-color, @color-black, 80%), mix(@bg-color, @color-white, 80%), 0.8);*/

  border-color: #8ec545;
  background-color: #a3d068;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -moz-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -ms-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -o-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}
.button-primary:hover,
.button-primary-s:hover,
.button-primary-hover,
.button-primary-s-hover {
  border-color: #81b739;
  background-color: #97ca55;
  box-shadow: 0 1px 2px #86bf3c inset;
}
.button-primary-disabled,
.button-primary-s-disabled,
.button-primary-disabled:hover,
.button-primary-s-disabled:hover {
  color: #cdcdcd;
  text-shadow: none;
  border-color: #dfdfdf;
  background-color: #ececec;
  box-shadow: none;
}
.button-normal,
.button-normal-s {
  color: #9b9b9b;
  /*text-shadow: 0 1px 0 contrast(@color, mix(@bg-color, @color-black, 80%), mix(@bg-color, @color-white, 80%), 0.8);*/

  border-color: #d7d7d7;
  background-color: #eeeeee;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -moz-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -ms-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -o-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}
.button-normal:hover,
.button-normal-s:hover,
.button-normal-hover,
.button-normal-s-hover {
  border-color: #cacaca;
  background-color: #e1e1e1;
  box-shadow: 0 1px 2px #cfcfcf inset;
}
.button-normal-disabled,
.button-normal-s-disabled,
.button-normal-disabled:hover,
.button-normal-s-disabled:hover {
  color: #cdcdcd;
  text-shadow: none;
  border-color: #dfdfdf;
  background-color: #ececec;
  box-shadow: none;
}
.button-link,
.button-link-s {
  color: #ffffff;
  /*text-shadow: 0 1px 0 contrast(@color, mix(@bg-color, @color-black, 80%), mix(@bg-color, @color-white, 80%), 0.8);*/

  border-color: #57b8f4;
  background-color: #82caf7;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -moz-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -ms-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -o-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}
.button-link:hover,
.button-link-s:hover,
.button-link-hover,
.button-link-s-hover {
  border-color: #3faef3;
  background-color: #6ac0f5;
  box-shadow: 0 1px 2px #48b2f3 inset;
}
.button-link-disabled,
.button-link-s-disabled,
.button-link-disabled:hover,
.button-link-s-disabled:hover {
  color: #cdcdcd;
  text-shadow: none;
  border-color: #dfdfdf;
  background-color: #ececec;
  box-shadow: none;
}
.button-theme,
.button-theme-s {
  color: #ffffff;
  /*text-shadow: 0 1px 0 contrast(@color, mix(@bg-color, @color-black, 80%), mix(@bg-color, @color-white, 80%), 0.8);*/

  border-color: #f69e4e;
  background-color: #f8b67a;
  -webkit-backface-visibility: hidden;
  -webkit-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -moz-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -ms-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  -o-transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}
.button-theme:hover,
.button-theme-s:hover,
.button-theme-hover,
.button-theme-s-hover {
  border-color: #f49136;
  background-color: #f7a962;
  box-shadow: 0 1px 2px #f59640 inset;
}
.button-theme-disabled,
.button-theme-s-disabled,
.button-theme-disabled:hover,
.button-theme-s-disabled:hover {
  color: #cdcdcd;
  text-shadow: none;
  border-color: #dfdfdf;
  background-color: #ececec;
  box-shadow: none;
}
/*
 * Hide from both screenreaders and browsers
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 *
 * For IE 6/7 only
 * 3. Include this rule to trigger hasLayout and contain floats in IE 6/7.
 */
.clearfix {
  *zoom: 1;
  /* 3 */

}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.inline-block,
.button-primary,
.button-primary-s,
.button-normal,
.button-normal-s,
.button-link,
.button-link-s,
.button-theme,
.button-theme-s {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.unselectable,
.button-primary,
.button-primary-s,
.button-normal,
.button-normal-s,
.button-link,
.button-link-s,
.button-theme,
.button-theme-s {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -ms-text-size-adjust: 100%;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.login {
  margin: 60px auto;
  width: 480px;
}
.login-title {
  position: relative;
  margin-bottom: 40px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.login-title-arrow {
  position: absolute;
  height: 14px;
  width: 14px;
  bottom: 0px;
  left: 30px;
}
.login-title-arrow-inside {
  position: absolute;
  border-width: 7px;
  border-color: transparent transparent #ddd transparent;
  border-style: dashed dashed solid dashed;
}
.login-title-arrow-outside {
  position: absolute;
  top: 1px;
  border-width: 7px;
  border-color: transparent transparent #fff transparent;
  border-style: dashed dashed solid dashed;
}
.login-fieldset {
  padding-top: 30px;
}
.login-field {
  *zoom: 1;
  /* 3 */

  margin-bottom: 20px;
}
.login-field:before,
.login-field:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.login-field:after {
  clear: both;
}
.login-field-label {
  float: left;
  width: 60px;
  text-align: right;
  font-size: 14px;
  line-height: 30px;
}
.login-field-element {
  float: right;
  width: 390px;
}
.login-field-text {
  height: 28px;
  width: 240px;
  border: 1px solid #CCC;
  border-radius: 5px;
  font-size: 14px;
}
